@import url(../css/estilos.css);

.comentario-pedido {
  height: 1000px; /* Altura del contenedor */
  background-image: url(../Elementos/comentario/Fondo.jpg); /* Imagen de fondo */
  background-size: cover; /* Cubre todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  color: var(--color-texto-claro); /* Color de texto blanco */
  text-align: center; /* Centra el texto */
  padding: 40px 0; /* Espaciado arriba y abajo */
  display: flex; /* Habilita el uso de flexbox */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.comentario-pedido__detalle {
  max-width: 900px; /* Ancho máximo del contenedor */
  text-align: center; /* Centra el texto */
  padding: 40px; /* Espaciado interno */
  border-radius: 15px; /* Bordes redondeados */
}

.comentario-pedido__imagen--perfil {
  width: 300px; /* Ancho de la imagen */
  height: 300px; /* Altura de la imagen */
  margin-bottom: var(--espaciado-pequeño); /* Margen inferior de 20px */
  border-radius: 50%; /* Hace la imagen circular */
}

.comentario-pedido__texto {
  font-size: 2rem; /* Tamaño de fuente */
  font-weight: 300; /* Grosor de fuente */
  margin-bottom: 15px; /* Margen inferior */
}

.comentario-pedido__nombre {
  font-size: 2rem; /* Tamaño de fuente */
  font-weight: 700; /* Grosor de fuente */
  color: var(--color-texto-claro); /* Color del texto en blanco */
}

/* Media query para pantallas pequeñas (ancho máximo de 990px) */
@media (max-width: 990px) {
  .comentario-pedido {
    padding: 20px 0; /* Reducir padding superior e inferior */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
  }

  .comentario-pedido__detalle {
    max-width: 80%; /* Reducir el ancho del contenedor */
    padding: 20px; /* Reducir padding interno */
  }

  .comentario-pedido__imagen--perfil {
    width: 200px; /* Reducir el tamaño de la imagen de perfil */
    height: 200px; /* Ajustar la altura de la imagen de perfil */
  }

  .comentario-pedido__texto {
    font-size: 1.6rem; /* Reducir tamaño de fuente del texto */
  }

  .comentario-pedido__nombre {
    font-size: 1.8rem; /* Reducir tamaño de fuente del nombre */
  }
}

/* Media query específica para pantallas muy pequeñas como el iPhone 14 Pro Max (ancho máximo de 430px) */
@media (max-width: 430px) {
  .comentario-pedido__detalle {
    max-width: 100%; /* Utilizar todo el ancho disponible */
    padding: 15px; /* Reducir aún más el padding */
  }

  .comentario-pedido__imagen--perfil {
    width: 150px; /* Reducir aún más el tamaño de la imagen */
    height: 150px;
  }

  .comentario-pedido__texto {
    font-size: 1.4rem; /* Ajustar tamaño de fuente del texto */
  }

  .comentario-pedido__nombre {
    font-size: 1.6rem; /* Ajustar tamaño de fuente del nombre */
  }
}
