@import url(../css/estilos.css);

.comentario-pedido {
  height: 1000px;
  background-image: url(../Elementos/comentario/Fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-texto-claro);
  text-align: center;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comentario-pedido__detalle {
  max-width: 900px;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
}

.comentario-pedido__imagen--perfil {
  width: 300px;
  height: 300px;
  margin-bottom: var(--espaciado-pequeño);
  border-radius: 50%;
}

.comentario-pedido__texto {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.comentario-pedido__nombre {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-texto-claro);
}

