@import url(../css/estilos.css);

.contenido-principal__contenido {
  max-width: 100%;
  text-align: left;
  padding: var(--espaciado-medio);
}

.contenido-principal__titulo {
  display: flex;
  font-size: 150px;
  margin-bottom: var(--espaciado-pequeño);
  font-weight: bold;
  padding-top: 90px;
}

.contenido-principal__texto {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: var(--espaciado-pequeño);
  width: 50%;
}

.contenido-principal__boton {
  margin-top: var(--espaciado-medio);
  padding: 25px 110px;
  background-color: var(--color-acento);
  color: var(--color-texto-claro);
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: var(--radio-borde-completo);
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
}

.contenido-principal__boton:hover {
  background-color: var(--color-acento-secundario);
}

.contenido-principal {
  display: flex;
  align-items: center;
  height: 1000px;
  justify-content: space-between;
  background-image: url(../Elementos/Imagen_Fondo/Imagen_de_fondo.jpeg);
  background-size: cover;
  background-position: center;
  padding: 0 50px;
  color: var(--color-texto-claro);
  overflow: hidden;
}

