/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
.header{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    background-color: #21243d;
    /* padding: 10px 20px; */
    position: fixed;
}

.logo{
    display: flex;
    padding-left: 8px;
    width: 200px;
    height: 100%;
}

.logo__restaurante{
    display: flex;
    
    height: 50px;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    padding-left: 10px;
    padding-top: 15px;
    margin-left:15px ;

    
}



.navegacion{
    display: flex;
    /* width: 900px; */
    padding-left: 90px;
    
    
}

.navegacion ul {

    list-style-type: none;
    width: 1000px;
    display: flex;
    align-content: space-between;
   
    
    
}

.navegacion li{
    display: flex;
    height: 65px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.navegacion li:hover{
    background-color: #214365;
    transition: 1s;
    border-radius: 20px;
}

.navegacion i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    font-size: 30px;
    /* padding-left: 110px; */
    
}

.img__search{
   color: #f4f4f4;
}


.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* Sección principal */
.seccion-principal {
    display: flex;
    height: 900px;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    background-image: url(/img/fondo_sushi.png);
    background-size: cover;
    color: #ffffff;
}
.imagen-principal img {
    max-width: 100%;
    border-radius: 10px;
}


.contenido-principal {
    max-width: 50%;
}

.contenido-principal h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.contenido-principal p {
    font-size: 18px;
    margin-bottom: 20px;
}

.boton-ordenar {
    padding: 10px 20px;
    background-color: #ff4136;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


/* Sección de menú popular */
.menu-popular {
    height: 900px;
    background-color: #21243d;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.menu-popular h2 {
    margin-bottom: 40px;
    font-size: 36px;
}

.contenedor-menu {
    display: flex;
    justify-content: space-around;
}

.item-menu {
    max-width: 30%;
}

.item-menu img {
    width: 100%;
    border-radius: 10px;
}

.item-menu h3 {
    margin-top: 10px;
    font-size: 24px;
}

.item-menu p {
    font-size: 16px;
}

/* pedido */

.pedido {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}


/* Sección de estadísticas */
.estadisticas {
    height: 900px;
    background-color: #21243d;
    padding: 40px 0;
    text-align: center;
}

.estadisticas h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contenedor-estadisticas {
    display: flex;
    justify-content: space-around;
}

.estadistica h3 {
    font-size: 48px;
    margin-bottom: 10px;
}

.estadistica p {
    font-size: 18px;
}

.pedido2 {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}
.pedido3 {
    height: 900px;
    background-color: #21243d;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.pedido4 {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.autor {
    height: 900px;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}