@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
body {
    /* font-family: Arial, sans-serif; */
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
.header{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    background-color: #21243d;
    /* padding: 10px 20px; */
    position: fixed;
}

.logo{
    display: flex;
    padding-left: 8px;
    width: 200px;
    height: 100%;
}

.logo__restaurante{
    display: flex;
    
    height: 50px;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    padding-left: 10px;
    padding-top: 15px;
    margin-left:15px ;

    
}

/* Parte1 */



.contenido-principal {
    max-width: 50%;
    text-align: left;
    padding: 100px;
}

.contenido-principal h2 {
    font-size: 203px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contenido-principal p {
    font-size: 50px;
    font-weight:300;
    margin-bottom: 20px;

}

.boton-ordenar {
    margin-top: 50px;
    padding: 30px 120px;
    background-color: #21243C;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 45px;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
    transition: 0.3s;
}

.boton-ordenar:hover{
    background-color: #3a3f5c;
}

/* Sección principal */
.seccion-principal {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    background-image: url(/Elementos/Parte1/_1_orig.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 50px;
    color: #ffffff;
    overflow: hidden;
}


/* Parte1 */


.navegacion{
    display: flex;
    /* width: 900px; */
    padding-left: 90px;
    
    
}

.navegacion ul {

    list-style-type: none;
    width: 1000px;
    display: flex;
    align-content: space-between;
   
    
    
}

.navegacion li{
    display: flex;
    height: 65px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.navegacion li:hover{
    background-color: #214365;
    transition: 1s;
    border-radius: 20px;
}

.navegacion i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    font-size: 30px;
    /* padding-left: 110px; */
    
}

.img__search{
   color: #f4f4f4;
}


.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}


.imagen-principal img {
    max-width: 100%;
    border-radius: 10px;
}




/* Sección de menú popular */
.menu-popular {
    height: 900px;
    background-color: #21243d;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.menu-popular h2 {
    margin-bottom: 40px;
    font-size: 36px;
}

.contenedor-menu {
    display: flex;
    justify-content: space-around;
}

.item-menu {
    max-width: 30%;
}

.item-menu img {
    width: 100%;
    border-radius: 10px;
}

.item-menu h3 {
    margin-top: 10px;
    font-size: 24px;
}

.item-menu p {
    font-size: 16px;
}

/* pedido */

.pedido {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}


/* Sección de estadísticas */
.estadisticas {
    height: 900px;
    background-color: #21243d;
    padding: 40px 0;
    text-align: center;
}

.estadisticas h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contenedor-estadisticas {
    display: flex;
    justify-content: space-around;
}

.estadistica h3 {
    font-size: 48px;
    margin-bottom: 10px;
}

.estadistica p {
    font-size: 18px;
}

.pedido2 {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

/* Parte5 */
.pedido3 {
    height: 900px;
    background-image: url(/Elementos/Parte5/Fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comentario__comensal{
    max-width: 900px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    padding: 40px;
}

.perfil-imagen{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.comentario__comensal-texto{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 15px;
}

.nombre{
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
}



/* Parte5 */

.pedido4 {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.autor {
    height: 900px;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}