/* Estilos generales */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
}

/* Encabezado */
.header{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    background-color: #21243d;
    /* padding: 10px 20px; */
    position: fixed;
    justify-content: space-around;
}

.logo{
    display: flex;
    padding-left: 8px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo__restaurante{
    display: flex;
    
    height: 40px;
    width: 200px;
    /* align-items: center;
    justify-content: center; */
    padding-left: 10px;
    
    margin-left:15px ;

    
}



.navegacion{
    display: flex;
    /* width: 900px; */
    /* padding-left: 90px; */
    
    
}

.navegacion ul {

    list-style-type: none;
    width: 1000px;
    display: flex;
    align-content: space-between;
   
    
    
}

.navegacion li{
    display: flex;
    height: 65px;
    max-width: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navegacion li:hover{
    background-color: #214365;
    transition: 1s;
    border-radius: 20px;
}

.navegacion i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 500px; */
    font-size: 30px;
    /* padding-left: 110px; */
    
}

.img__search{
   color: #f4f4f4;
   font-size: 30px;
   font-weight: 800;
}


.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* Sección principal */
.seccion-principal {
    display: flex;
    height: 900px;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    background-image: url(/img/fondo_sushi.png);
    background-size: cover;
    color: #ffffff;
}
.imagen-principal img {
    max-width: 100%;
    border-radius: 10px;
}


.contenido-principal {
    max-width: 50%;
}

.contenido-principal h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.contenido-principal p {
    font-size: 18px;
    margin-bottom: 20px;
}

.boton-ordenar {
    padding: 10px 20px;
    background-color: #ff4136;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


/* Sección de menú popular */
.menu {
    min-height: max-content;
    background-color: #21243d;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    position: relative;
    
}

.menu__img_circulo-superior-derecho{
    position: absolute;
    right: 0;
    top: 0px;
    
    
}

.menu__img_puntos-superior-izquierda{
    position: absolute;
    left: 440px;
    top: 20px;
}
.menu__img_w-superior-izquierda{
    position: absolute;
    left: 200px;
    top:200px;
    
}
.menu__img_circulo-izquierdo-inferior{
    position: absolute;
    left: 0;
    top: 700px;
}

.menu__img_puntos-medio-derecha{
    position: absolute;
    right: 0;
    top: 400px;
}

.menu__img_w-inferior-derecha{
    position: absolute;
    right: 0;
    top: 870px;
}

.menu__titulo{
    padding-top: 30px;
    font-size: 62px;

}

.menu__texto{
    width: 660px;
    margin: 0 auto;
}


.contenedor__menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

.item-menu {
    max-width: 20%;
}

.item__menu-imagenes{
    width: 80%;
    border-radius: 10px;
}

.item__menu-titulo {
    margin-top: 10px;
    font-size: 42px;
}

.item__menu-texto{
    font-size: 18px;
}



/*primera informacion*/

.primera__informacion-sushi {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    position: relative;
}

.primera__informacion-sushi__puntos-superior-derecho{
    position: absolute;
    right: 30px;
}

.primera__informacion-sushi__w-centro{
    position: absolute;
    top: 140px;
    right: 750px;
}

.primera__informacion-sushi__circulo-inferior-derecho{
    position: absolute;
    right: 0px;
    top: 730px;
}

.primera__informacion-sushi__puntos-inferior-izquierda{
    position: absolute;
    left: 30px;
    top: 760px;
}
.primera__informacion-sushi__circulo-izquierdo{
    position: absolute;
    left: 100px;
    top: 160px;
}



.primera__informacion-imagen-circular{
    position: absolute;
    z-index: 1;
    left: 160px;
    top: 180px;
    width: 600px;
}




.primera__informacion{
    position: absolute;
    width: 550px;
    top: 230px;
    right: 300px;
    text-align: left;
    
  }
.primera__informacion-titulo {
    font-size: 70px;
    font-weight: bold;
    color: #282F3F;
  }
  
  .primera__informacion-descripcion {
    font-size: 34px;
    margin: 10px 0;
    color: #333;
  }
  
  .primera__informacion-boton {
    margin-top: 35px;
    background-color: #282F3F;
    color: #FFF;
    padding: 20px 30px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 34px;

    transition: background-color 0.3s;
  }
  
  .primera__informacion-boton:hover {
    background-color: #1f2633;
  }

/* Sección de estadísticas */
.menu__estadisticas{
    height: 900px;
    background-color: #21243d;
    padding: 40px 0;
    text-align: center;
    position: relative;
}

/* imagenes de menu estadisticas */

.menu__estadisticas__puntos-izquierda-superior{
    position: absolute;
    left: 150px;
    top: 70px;
}

.menu__estadisticas__w-izquierda-superior{
    position: absolute;
    left: 160px;
    top: 250px;
}

.menu__estadisticas__circulo-derecha-superior{
    position: absolute;
    right: 150px;
    top: 100px;
}

.menu__estadisticas__circulo-inferior-izquierda{
    position: absolute;
    bottom: 0;
    left: 350px;
}

.menu__estadisticas__puntos-abajo-derecha{
    position: absolute;
    bottom: 80px;
    right: 650px;
}

.menu__estadisticas__w-derecha-inferior{
    position: absolute;
    bottom: 130px;
    right: 150px;
}

/* contenido de menu estadisticas */

.menu__estadisticas-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .menu__estadisticas-descripcion{
    display: flex;
    padding-left:30% ;
    width: 800px;
    font-size: 34px;
    margin-bottom: 30px;
    color: #fff;
    
    
    
  }
  
  .contenedor__estadisticas {
    display: flex;
    padding-top: 70px;
    justify-content: center;
    gap: 160px;
  }
  
  .estadistica {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .estadistica__circulo {
    width: 300px;
    height: 300px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: flex;
    
    flex-direction: column;
    
    align-items: center;
    
  }
  
  .estadistica__numero {
    /* display: flex; */
    font-size: 72px;
    font-weight: bold;
    color: #FFF;
    padding-top: 10px;
    position: absolute;
    /* bottom: 100px; */

    
  }
  
  .estadistica__etiqueta {
    
    font-size: 60px;
    color: #FFF;
    padding-top: 100px;

    
  }
  


/* SEGUNDA INFORMACION SUSHI */

.segunda-informacion__sushi {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    position: relative;
}



.segunda-informacion__sushi-circulo-centro-inferior{
    position: absolute;
    bottom: 75px;
    left: 800px;
}

.segunda-informacion__sushi-w-superior-izquierda{
    position: absolute;
    top: 180px;
    left:340px;
}

.segunda-informacion__sushi-puntos-superior-centro{
    position: absolute;
    top: 40px;
    left: 800px;

}

.segunda-informacion__sushi-circulo-derecha-superior{
    position: absolute;
    right: 110px;
    top: 140px;
}

.segunda-informacion__sushi-puntos-inferior-derecha{
    position: absolute;
    bottom: 90px;
    right: 60px;
}


.segunda-informacion{
    position: absolute;
    width: 550px;
    text-align: left;
    left: 330px;
    top: 220px;

}

.segunda-informacion__titulo{
    font-size: 70px;
    font-weight: bold;
    color: #282F3F;
  }
  
  .segunda-informacion__descripcion {
    font-size: 34px;
    margin: 10px 0;
    color: #333;
  }
  
  .segunda-informacion__boton {
    margin-top: 35px;
    background-color: #282F3F;
    color: #FFF;
    padding: 20px 30px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 34px;

    transition: background-color 0.3s;
  }
  
  .segunda-informacion__boton:hover {
    background-color: #1f2633;
  }

  .segunda-informacion__imagen-circular{
    position: absolute;
    z-index: 1;
    right: 160px;
    top: 180px;
    width: 600px;
  }



.pedido3 {
    height: 900px;
    background-color: #21243d;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.pedido4 {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.autor {
    height: 900px;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}






@media(width < 850px){
    .contenedor__menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .item-menu{
        width: 400px;
        max-width: none;

        margin-bottom: 40px;
    }
    .menu{
        height: 100vh;
    }
    .navegacion ul{
        width: 500px;
    }
}