/* Estilos generales */
body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Encabezado */
.header{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    background-color: #21243d;
    /* padding: 10px 20px; */
    position: fixed;
}

.logo{
    display: flex;
    padding-left: 8px;
    width: 200px;
    height: 100%;
}

.logo__restaurante{
    display: flex;
    
    height: 50px;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    padding-left: 10px;
    padding-top: 15px;
    margin-left:15px ;

    
}



.navegacion{
    display: flex;
    /* width: 900px; */
    padding-left: 90px;
    
    
}

.navegacion ul {

    list-style-type: none;
    width: 1000px;
    display: flex;
    align-content: space-between;
   
    
    
}

.navegacion li{
    display: flex;
    height: 65px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

.navegacion li:hover{
    background-color: #214365;
    transition: 1s;
    border-radius: 20px;
}

.navegacion i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 500px;
    font-size: 30px;
    /* padding-left: 110px; */
    
}

.img__search{
   color: #f4f4f4;
}


.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

/* Sección principal */
.seccion-principal {
    display: flex;
    height: 900px;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    background-image: url(/img/fondo_sushi.png);
    background-size: cover;
    color: #ffffff;
}
.imagen-principal img {
    max-width: 100%;
    border-radius: 10px;
}


.contenido-principal {
    max-width: 50%;
}

.contenido-principal h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.contenido-principal p {
    font-size: 18px;
    margin-bottom: 20px;
}

.boton-ordenar {
    padding: 10px 20px;
    background-color: #ff4136;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


/* Sección de menú popular */
.contenedor__menu {
    height: 900px;
    background-color: #21243d;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    position: relative;
}

.menu__img_circulo-superior-derecho{
    position: absolute;
    right: 0;
    top: 0px;
    
    
}

.menu__img_puntos-superior-izquierda{
    position: absolute;
    left: 440px;
    top: 20px;
}
.menu__img_w-superior-izquierda{
    position: absolute;
    left: 200px;
    top:200px;
    
}
.menu__img_circulo-izquierdo-inferior{
    position: absolute;
    left: 0;
    top: 700px;
}

.menu__img_puntos-medio-derecha{
    position: absolute;
    right: 0;
    top: 400px;
}

.menu__img_w-inferior-derecha{
    position: absolute;
    right: 0;
    top: 870px;
}

.menu__titulo{
    padding-top: 30px;
    font-size: 62px;

}

.menu__texto{
    width: 660px;
    margin: 0 auto;
}


.contenedor-menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
}

.item-menu {
    max-width: 20%;
}

.item-menu img {
    width: 80%;
    border-radius: 10px;
}

.item-menu h3 {
    margin-top: 10px;
    font-size: 42px;
}

.item-menu p {
    font-size: 18px;
}

/* pedido */

.pedido {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    position: relative;
}

.pedido__puntos-superior-derecho{
    position: absolute;
    right: 30px;
}

.pedido__w-centro{
    position: absolute;
    top: 140px;
    right: 750px;
}

.pedido__circulo-inferior-derecho{
    position: absolute;
    right: 0px;
    top: 730px;
}

.pedido__puntos-inferior-izquierda{
    position: absolute;
    left: 30px;
    top: 760px;
}
.pedido__circulo-izquierdo{
    position: absolute;
    left: 100px;
    top: 160px;
}


.pedido__imagen-circular{
    position: absolute;
    z-index: 1;
    left: 160px;
    top: 180px;
    width: 600px;
}







.contenido {
    position: absolute;
    width: 550px;
    top: 230px;
    right: 300px;
    text-align: left;
    
  }
.titulo {
    font-size: 70px;
    font-weight: bold;
    color: #282F3F;
  }
  
  .descripcion {
    font-size: 34px;
    margin: 10px 0;
    color: #333;
  }
  
  .boton {
    margin-top: 35px;
    background-color: #282F3F;
    color: #FFF;
    padding: 20px 30px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 34px;

    transition: background-color 0.3s;
  }
  
  .boton:hover {
    background-color: #1f2633;
  }

/* Sección de estadísticas */
.estadisticasas {
    height: 900px;
    background-color: #21243d;
    padding: 40px 0;
    text-align: center;
}

.titulos {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .descripciones {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .estadisticas {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .estadistica {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circulo {
    width: 120px;
    height: 120px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .numero {
    font-size: 32px;
    font-weight: bold;
    color: #FFF;
  }
  
  .etiqueta {
    font-size: 18px;
    color: #FFF;
    margin-top: 5px;
  }
  




.pedido2 {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}
.pedido3 {
    height: 900px;
    background-color: #21243d;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.pedido4 {
    height: 900px;
    background-color: #ffd17e;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}

.autor {
    height: 900px;
    background-color: #111111;
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
}