@import url(../css/estilos.css);

/* Encabezado */
.header {
  display: flex; /* Activa flexbox para organizar los elementos del header */
  width: 100%; /* Ocupa todo el ancho */
  height: var(--altura-header); /* Altura de 90px */
  align-items: center; /* Centra verticalmente los elementos */
  background-color: var( --color-Principal); /* Color de fondo #21243d */
  justify-content: space-around; /* Distribuye espacio equitativo entre elementos */
}


.header__navegacion {
  display: flex; /* Activa flexbox para organizar el contenedor de navegación */
}

.header__menu {
  list-style-type: none; /* Elimina el estilo de lista */
  gap: 80px; /* Espacio entre elementos de 80px */
  display: flex; /* Activa flexbox para alinear horizontalmente los elementos del menú */
}

.header__menu--item {
  display: flex; /* Activa flexbox para centrar los enlaces */
  height: var(--alto-navegacion-li); /* Altura de cada elemento 65px */
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
}

.header__menu--link {
  color: var(--color-texto-principal); /* Color del texto #ffffff */
  text-decoration: none; /* Sin subrayado */
  font-size: var(--tamaño-texto-header); /* Tamaño de texto */
}

.header__search--icon {
  display: flex; /* Activa flexbox para el icono de búsqueda */
  justify-content: flex-end; /* Alinea el icono a la derecha del header */
  align-items: center; /* Centra el icono verticalmente */
  font-size: var(--tamaño-icono); /* Tamaño de icono */
  color: var(--color-texto-principal); /* Color del icono */
  font-weight: 800; /* Fuente en negrita */
}

/* Ajustes para pantallas pequeñas como el iPhone 14 Pro Max */
@media (max-width: 430px) {
  .header {
    padding: 0 10px; /* Asegura que el contenido del header tenga un pequeño margen interior */
    justify-content: space-between; /* Ajusta los elementos para que no se desborden */
  }

  .header__menu {
    gap: 20px; /* Reduce el espacio entre los elementos del menú */
  }

  .header__menu--link {
    font-size: 0.9rem; /* Reduce ligeramente el tamaño del texto */
  }

  .header__search--icon {
    display: none; /* Oculta el icono de búsqueda en pantallas pequeñas para ganar espacio */
  }
}
