@import url(../css/estilos.css);

/* Sección de menú popular */
.menu {
  min-height: max-content;
  background-color: #21243d;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  position: relative;
  height: 1000px;
}

.menu__imagen--circulo-superior-derecha {
  position: absolute;
  right: 0;
  top: 0px;
}

.menu__imagen--puntos-superior-izquierda {
  position: absolute;
  left: 440px;
  top: 20px;
}

.menu__imagen--w-superior-izquierda {
  position: absolute;
  left: 200px;
  top: 200px;
}

.menu__imagen--circulo-inferior-izquierda {
  position: absolute;
  left: 0;
  top: 700px;
}

.menu__imagen--puntos-medio-derecha {
  position: absolute;
  right: 0;
  top: 400px;
}

.menu__imagen--w-inferior-derecha {
  position: absolute;
  right: 0;
  top: 870px;
}

.menu__titulo {
  padding-top: 30px;
  font-size: 62px;
}

.menu__texto {
  padding-top: 50px;
  width: 660px;
  margin: 0 auto;
}

.menu__contenedor {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
}

.menu__item {
  max-width: 20%;
}

.menu__item--imagenes {
  width: 80%;
  border-radius: 10px;
}

.menu__item--titulo {
  margin-top: 10px;
  font-size: 42px;
}

.menu__item--texto {
  font-size: 18px;
}
