@import url(../css/estilos.css);

/*primera informacion*/

.primera__informacion-sushi {
  min-height: max-content;
  height: 1000px;
  background-color: #ffd17e;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.primera__informacion-sushi__puntos-superior-derecho {
  position: absolute;
  right: 30px;
}

.primera__informacion-sushi__w-centro {
  position: absolute;
  top: 140px;
  right: 750px;
}

.primera__informacion-sushi__circulo-inferior-derecho {
  position: absolute;
  right: 0px;
  top: 730px;
}

.primera__informacion-sushi__puntos-inferior-izquierda {
  position: absolute;
  left: 30px;
  top: 760px;
}
.primera__informacion-sushi__circulo-izquierdo {
  position: absolute;
  left: 100px;
  top: 160px;
}

.primera__informacion-contenedor {
  display: flex;
  justify-content: space-between;
}



.primera__informacion-imagen-circular {
  display: flex;
  position: relative;
  margin-top: 170px;
  margin-left: 150px;
}

.primera__informacion {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 500px;
  margin-right: 20%;
  margin-bottom: 60px;
}
.primera__informacion-titulo {
  font-size: 70px;
  font-weight: bold;
  color: #282f3f;
}

.primera__informacion-descripcion {
  font-size: 34px;
  margin: 10px 0;
  color: #333;
}

.primera__informacion-boton {
  width: 275px;
  margin-top: 35px;
  background-color: #282f3f;
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 30px;

  transition: background-color 0.3s;
}

.primera__informacion-boton:hover {
  background-color: #595e68;
  transform: 1s;
}
