@import url(../css/estilos.css);

/* primera-informacion */
.primera-informacion {
  min-height: max-content;
  height: 1000px;
  background-color: #ffd17e;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.primera-informacion__imagen--puntos-superior-derecha {
  position: absolute;
  right: 30px;
}

.primera-informacion__imagen--w-centro {
  position: absolute;
  top: 140px;
  right: 750px;
}

.primera-informacion__imagen--circulo-inferior-derecha {
  position: absolute;
  right: 0px;
  top: 730px;
}

.primera-informacion__imagen--puntos-inferior-izquierda {
  position: absolute;
  left: 30px;
  top: 760px;
}

.primera-informacion__imagen--circulo-izquierdo {
  position: absolute;
  left: 100px;
  top: 160px;
}

.primera-informacion__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;
}

.primera-informacion__contenedor-imagen-circular {
  display: flex;
  position: relative;
  margin-top: -80px;
  margin-left: 150px;
}

.primera-informacion__contenedor-contenido {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  max-width: 700px;
  margin-right: 20%;
  margin-bottom: 60px;
}

.primera-informacion__contenedor-titulo {
  font-size: 70px;
  font-weight: bold;
  color: #282f3f;
}

.primera-informacion__contenedor-descripcion {
  font-size: 34px;
  margin: 10px 0;
  color: #333;
  line-height: 1.4;
}

.primera-informacion__contenedor-boton {
  width: 275px;
  margin-top: 35px;
  margin-left: 80px;
  background-color: #282f3f;
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
}

.primera-informacion__contenedor-boton:hover {
  background-color: #595e68;
  transform: 1s;
}

/* Media queries */
@media (max-width: 850px) {
  .primera-informacion__contenedor {
    flex-direction: column;
    align-items: center;
  }

  .primera-informacion__contenedor-contenido {
    text-align: center;
    margin: 0 auto;
    width: calc(100% - 20px);
  }

  .primera-informacion__imagenes {
    display: none;
  }

  .primera-informacion__contenedor-imagen-circular {
    width: 40%;
    margin: 0 auto;
  }

  .primera-informacion__contenedor-titulo {
    font-size: 50px;
  }

  .primera-informacion__contenedor-descripcion {
    font-size: 28px;
    width: 90%;
    margin: 0 auto;
  }

  .primera-informacion__contenedor-boton {
    font-size: 24px;
    padding: 15px 20px;
  }
}

@media (max-width: 500px) {
  .primera-informacion {
    padding: 20px 0;
  }

  .primera-informacion__contenedor-contenido {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .primera-informacion__contenedor-imagen-circular {
    width: 60%;
    margin: 0 auto 20px auto;
  }

  .primera-informacion__contenedor-descripcion {
    font-size: 24px;
    margin: 0 auto;
  }
}
