@import url(../css/estilos.css);

/* SEGUNDA INFORMACION SUSHI */

.segunda-informacion__sushi {
  min-height: max-content;

  height: 1000px;
  background-color: #ffd17e;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.segunda-informacion__sushi-circulo-centro-inferior {
  position: absolute;
  bottom: 75px;
  right: 50%;
}

.segunda-informacion__sushi-w-superior-izquierda {
  position: absolute;
  top: 180px;
  left: 340px;
}

.segunda-informacion__sushi-puntos-superior-centro {
  position: absolute;
  top: 40px;
  right: 10px;
}

.segunda-informacion__sushi-circulo-derecha-superior {
  position: absolute;
  right: 170px;
  top: 140px;
}

.segunda-informacion__sushi-puntos-inferior-derecha {
  position: absolute;
  bottom: 90px;
  right: 60px;
}

.segunda__informacion-contenedor {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}

.segunda-informacion {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 700px;
  margin-top: 80px;
  margin-left: 160px;
}

.segunda-informacion__imagen {
  padding-right: 120px;
}

.segunda-informacion__imagen-circular {

  display: flex;
  position: relative;
  width: var(--tamano-imagen-circular);
  margin-right: 70px;
}

.segunda-informacion__titulo {
  font-size: 70px;
  font-weight: bold;
  color: #282f3f;
}

.segunda-informacion__descripcion {
  font-size: 34px;
  margin: 10px 0;
  color: #333;
}

.segunda-informacion__boton {
  width: 300px;
  background-color: var(--color-boton);
  color: var(--color-texto-claro);
  padding: 20px 30px;
  border: none;
  border-radius: var(--radio-borde-boton);
  cursor: pointer;
  font-size: var(--tamaño-boton);
  transition: background-color 0.3s;
  margin-top: 50px;
}

.segunda-informacion__boton:hover {
  background-color: var(--color-boton-hover);
  transition: 1s;
}
